@media (min-width: 768px) and (min-height: 1280px) and (max-height: 1439px){
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-14%) translateY(27%);
    }
    .p1txt {
        padding-right:2vw;
        transform: translateX(5%) translateY(30%) scale(0.8);
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        transform: translateX(-48%) translateY(50%) scale(0.8);
    }
}

@media (min-width: 768px) and (min-height: 1124px) and (max-height: 1279px){
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-14%) translateY(27%);
    }
    .p1txt {
        padding-right:2vw;
        transform: translateX(8%) translateY(30%) scale(0.7);
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        transform: translateX(-52%) translateY(50%) scale(0.7);
    }
}

@media (min-width: 768px) and (max-width: 1100px) and (min-height: 1024px) and (max-height: 1123px){
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-14%) translateY(27%);
    }
    .p1txt {
        padding-right:2vw;
        transform: translateX(10%) translateY(30%) scale(0.7);
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        transform: translateX(-55%) translateY(50%) scale(0.7);
    }
}

@media (min-width: 1100px) and (min-height: 1024px) and (max-height: 1123px){
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-5%)
    }
    .p1txt {
        padding-right: 20%;
        transform: translateX(10%) translateY(30%)
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        transform: translateX(-35%) translateY(50%);
    }
}

@media (min-width: 768px) and (max-width:1100px) and (min-height: 900px) and (max-height: 1023px){
    /*filler */
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-14%) translateY(27%);
    }
    .p1txt {
        padding-right:2vw;
        transform: translateX(10%) translateY(30%) scale(0.7);
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        transform: translateX(-55%) translateY(50%) scale(0.7);
    }
}

@media (min-width: 1100px) and (min-height: 900px) and (max-height: 1023px){
    .p1imgdiv {
        width: 200vw;
        height: auto;
    }
    .p1txt {
        padding-right: 20%
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }

}

@media (min-width: 768px) and (max-width:1100px) and (min-height: 800px) and (max-height: 899px){
    /*filler */
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-14%) translateY(27%);
    }
    .p1txt {
        padding-right:2vw;
        transform: translateX(10%) translateY(30%) scale(0.7);
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        transform: translateX(-35%) translateY(50%);
    }
}

@media (min-width: 1100px) and (min-height: 800px) and (max-height: 899px){
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-11%);
    }
    .p1txt {
        padding-right: 20%;
        transform: translateX(5%) translateY(30%) scale(0.8);
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        transform: translateX(-45%) translateY(50%) scale(0.8);
    }

}

@media (min-width: 768px) and (min-height: 768px) and (max-height: 799px){
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-11%) translateY(-5%);
    }
    .p1txt {
        padding-right: 20%;
        transform: translateX(15%) translateY(30%) scale(0.7);
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        transform: translateX(-45%) translateY(50%) scale(0.8);
    }
}

/*mobile */

@media (max-width: 767px) and (min-height: 845px) and (max-height: 1080px){
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-2%) translateY(60%) scale(2);
    }
    .p1txt {
        padding-right: 20%;
        transform: translateX(25%) translateY(20%) scale(0.5);
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        min-width: 250px !important;
        transform: translateX(-100%) translateY(50%) scale(0.6);
    }
}

@media (max-width: 767px) and (min-height: 800px) and (max-height: 844px){
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-2%) translateY(60%) scale(2);
    }
    .p1txt {
        padding-right: 20%;
        transform: translateX(25%) translateY(20%) scale(0.5);
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        min-width: 250px !important;
        transform: translateX(-100%) translateY(50%) scale(0.6);
    }
}

@media (max-width: 767px) and (min-height: 720px) and (max-height: 799px){
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-2%) translateY(60%) scale(2);
    }
    .p1txt {
        padding-right: 20%;
        transform: translateX(27%) translateY(20%) scale(0.5);
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        min-width: 250px !important;
        transform: translateX(-105%) translateY(50%) scale(0.6);
    }
}

@media (max-width: 767px) and (max-height: 720px){
    .p1imgdiv {
        width: 200vw;
        height: auto;
        transform: translateX(-2%) translateY(60%) scale(2);
    }
    .p1txt {
        padding-right: 20%;
        transform: translateX(27%) translateY(20%) scale(0.5);
    }
    .p2imgdiv {
        width: 100%;
        height: 100%;
    }
    .p2txt {
        min-width: 250px !important;
        transform: translateX(-105%) translateY(50%) scale(0.6);
    }
}
